<div class="container">
    <div class="cars-grid">
        @for (item of pagedDate; track item.id) {
            <div class="car-card">
                <img [src]="'http://localhost:8080/' + item.image" alt="Imagem do carro" width="300px" height="170px" class="car-image" />
                <div class="car-details">
                    <h3>{{ item.description || item.descricao }}</h3>
                    <p>Ano: {{ item.year || item.ano }}</p>
                    <p>Montadora: {{ item.descriptionCarmaker || item.descriptionCarmaker }}</p>
                    <p>Preço: {{ (item.price || item.preco) | currency:'BRL':'symbol':'1.2-2' }}</p>
                    <p>Categoria {{ item.descriptionCategory || item.descriptionCategory }}</p>
                    <button type="button" class="btn-alugar" (click)="rent(item)">Alugar</button>
                </div>
            </div>
        }
    </div>

    <div class="paginator-wrapper">
        <mat-paginator
        class="table-paginator"
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>

<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-box" (click)="$event.stopPropagation()">
    <h3>{{ modalTitle }}</h3>
    <p>{{ modalMessage }}</p>
        <div class="modal-actions">
            <button type="button" class="btn-modal-close" (click)="closeModal()">Fechar</button>
        </div>
  </div>
</div>
