<div class="container">
    <h2>Lista de Modelos</h2>
    
    <div class="table-wrapper">
        <table class="model-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Ano</th>
            <th>Montadora</th>
            </tr>
        </thead>
        <!-- <tbody>
            @for (item of pagedDate; track item.id) {
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.description || item.descricao }}</td>
                <td>{{ item.year || item.ano }}</td>
                <td>{{ item.carmakerDescription || item.montadoraDescricao }}</td>
            </tr>
            }
        </tbody> -->
        </table>
    </div>
    
    <!-- <div class="paginator-wrapper">
        <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
        ></mat-paginator>
    </div> -->
</div>
